/*<!media query for meny ------*/
nav ul{
    position: relative;
    top: 90px;
    left: 0px;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    background: transparent;
    text-align: right;
}

nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul li a{
    color: black;
    padding: 1px 1px 1px 1px;
}

.menu-icon {
    display: block;
    cursor: pointer;
}

/*media for less than 600 screen size*/
@media only screen and (max-width: 1200px){
    .row {
        text-align: center;
    }
    
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .row .col-2{
        flex-basis: 50%;
        text-align: center;
        width: 50vw;
    }

    .col-2 .search-box{
        width: 50vw;
    }

    .single-product .row{
        text-align: center;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;
    }
}